@font-face {
  font-family: 'timesnewromanps-boldmt';
  src: url('../fonts/timesnewromanps-boldmt.woff2') format('woff2'),
  url('../fonts/timesnewromanps-boldmt.woff') format('woff'),
  url('../fonts/timesnewromanps-boldmt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

