.context-menu {
  position: absolute;
  display: none;
  background: #fafafa;
  width: 100%;
  max-width: 210px;
  border: 2px solid rgb(182,182,182);
  box-shadow:0 1px 0 0 rgba(255,255,255,0.5), inset 0 1px 2px 0 rgba(0,0,0,0.2);
  border-radius: 4px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__line {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: block;
    border-bottom: 1px solid black;
  }

  &__line:last-child {
    border: none;
  }

  &__link {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 10px;
  }

  &__link:hover {
    background-color: #b6b6b6;
  }

}