.ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
}

.ibg img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.intro {

  .ibg {
    width: 100%;
    height: 100vh;
    @media (min-width: $md-3 + px) {
      height: calc(100vh - 370px);
    }
  }

}