.title-products {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptiv-Side(margin-bottom, 35, 20);

  &__text {
    font-family: Lato;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    @include adaptiv-link(20, 15, rgb(101, 99, 99), 24px, 24px, uppercase);
    position: relative;
  }

  &__separator {
    display: none;
    @media (min-width: $md-1 + px) {
      display: block;
      width: 100%;
      max-width: 130px;
      height: 1px;
      background-color: rgb(245, 245, 245);
    }

    @media (min-width: $md-2 + px) {
      max-width: 170px;
    }

  }

}